@font-face {
  font-family: "HelveticaCd";
  src: url("./fonts/helvetica_condensed.ttf") format("truetype"),
    url("./fonts/Helvetica Condensed Bold Oblique.otf") format("opentype"),
    url("./fonts/Helvetica Condensed Oblique.otf") format("opentype"),
    url("./fonts/Helvetica Condensed Regular.otf") format("opentype"),
    url("./fonts/Helvetica Light Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: HelveticaCd, Helvetica, Verdana, Sans-Serif !important;
  background-color: #f1f1f1;
}

/* Reset beberapa elemen dasar untuk memastikan konsistensi di berbagai browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

.main-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar-brand img {
  height: 80px;
}

.nav-link {
  color: #000 !important;
  margin-right: 12px;
}

.nav-link:hover {
  color: #2717f8 !important;
}

.navbar .nav-link.active {
  color: #2717f8 !important;
}

/* Gaya untuk bagian hero */
.hero {
  text-align: center;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  color: #555;
}

/* Gaya untuk section */
section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

section p {
  line-height: 1.6;
  margin-bottom: 10px;
}

section ul {
  list-style-type: disc;
  padding-left: 20px;
}

section ul li {
  margin-bottom: 10px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2717f8;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: Helvetica, Verdana, Sans-Serif !important;
}

.footer-wave {
  background-color: #fff;
  width: 100%;
}

.footer-content {
  padding: 0 20px 20px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.footer-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.footer-content p {
  font-size: 16px;
  margin: 8px 0;
}

.footer-content a {
  color: #fff;
  text-decoration: underline;
}

.footer-content .social-icons {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-content .social-icons a img {
  width: 32px;
  height: 32px;
}

.footer p {
  font-size: 12px;
  margin: 10px 0 0;
}
